h2
{
  margin-left: 50px;
  color: chocolate;
  
}

#para
{
  margin-left: 50px;
  color:blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading1
{
   margin-left: 50px;
   color: cadetblue;
}
